<ul>
  <li>
    <img width='200' src='https://www.kellogg.northwestern.edu/images/students/all/x402651.jpg'>
    <h3>Jocelyn Alt</h3>
  </li>
  <li>
    <img width='200' src='https://www.kellogg.northwestern.edu/images/students/all/x410579.jpg'>
    <h3>Ty Benefiel</h3>
    </li>
  <li>
    <img width='200' src='https://www.kellogg.northwestern.edu/images/students/all/x417523.jpg'>
    <h3>Nick Chin</h3>
  </li>
</ul>
