<link rel="stylesheet" href="/css/styles.css">

<ul>
  <% @students.each do |student| %>
  <li>
    <img width='200' src=<%=student["image_url"]%>>
    <h2> <%=student["first_name"] + " " + student["last_name"] %> </h2>
  </li>
  <% end %>
</ul>
